.root {
	display: grid;
	grid-template-rows: min-content 1fr;
	width: 100vw;
	height: 100vh;
}

.content {
	overflow: auto;
}

.transaction {
	background-color: lightgray;
}

.nav {
	padding: 0.5rem;
}